

  <a href="#" class="ui card">
  <div class="extra content">
    <span class="left floated forumbee">
      <i class="forumbee yellow icon"></i>

      Username

    </span>
  </div>
  <div class="content">
    <div class="content">

      <p> bzz bzz goes here </p>

    </div>
  </div>
   <div class="ui two bottom attached buttons">
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content">
        <i class="retweet icon"></i>
      </div>

      <div class="hidden content">Rebuzz</div>

    </div>
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content">
        <i class="star icon"></i>
      </div>

      <div class="hidden content">Favorite</div>

    </div>
  </div>
</a>
