#header_container_left {
  display: inline-block;
  width: 30%;
  position: absolute;
  left: 20px;
}

#header_container_mid {
  display: inline-block;
  width: 30%;
  text-align: center;
}

#header_container_right {
  display: inline-block;
  width: 25%;
  position: absolute;
  right: 20px;
}

header {
  top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
}

section {
  top: 20px;
  background-color: ;
  border: dashed black 2px;
}

#tweet-container{
  min-width: 45%;
  min-height: 500px;
  position: relative;
  float: right;
  right: 5%;
}

#user-info-container{
  min-width: 30%;
  height: 250px;
  position: relative;
  float: left;
  left: 5%;
}

#user-info-container h5{
  margin-left: 20px;
}

#user-info-container h6{
  margin-left: 20px;
}


#user-info-container div{
  border: solid black 1px;
  width: 30%;
  margin: 0px 4px;
  padding-left: 2px;
  text-align: center;
  display: inline-block;
}










