
    <form class="ui large form">

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email" name="email" placeholder="E-mail address">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>

 <input type="submit" class="ui big yellow labeled button" value=" Sign Up">

    </form>


<!--  <form class="ui large form">
        <input type="email" name="email" placeholder="E-mail address">
    <div class="field">
      <div class="field">
        <input type="email" name="email" placeholder="E-mail address">

      </div>

    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="ui fluid large yellow submit button">Login</div>
</form>
 -->
