<form class="ui large form" action="/users/new" method="post">

  <div class="field">
    <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="username" placeholder="Handler">
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field">

          <input type="text" name="first_name" placeholder="First Name">

      </div>
      <div class="field">
        <input type="text" name="last_name" placeholder="Last Name">
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field">

        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
        </div>

      </div>

      <div class="field">

        <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="email" name="email" placeholder="Email">
        </div>

      </div>

    </div>
  </div>

  <input type="submit" class="ui big green labeled button" value=" Sign Up">

</form>
