<br>
<br>

<!-- homepage login -->
  <form id = "login" action="/login" method="post">Login:
    <br>
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="yourname@email.com" required>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="Login"></li>
    <br>
  </form>
<!-- end homepage login -->

<br>
<br>

<!-- create account -->
  <form id = "create" action="/users/new" method="post">Create An Account:
    <br>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="@timcannady" required>
    <br>
    <label for="first_name">First Name: </label>
    <input type="text" name="first_name" placeholder="Tim" required>
    <br>
    <label for="last_name">Last Name: </label>
    <input type="text" name="last_name" placeholder="Cannady" required>
    <br>
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="yourname@email.com" required>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="Create Account"></li>
    <br>
  </form>
<!-- end create account -->

