<div class="container">

  <div class="ui fluid two column middle aligned very relaxed stackable grid">

    <div class="column">
      <h3> Get to buzzing  </h3>
      <%= erb :_login %>

    </div>

    <div class="ui vertical divider">
      Or
    </div>

    <div class="column">
      <h3> Join the bzz bzz </h3>
      <%= erb :_signup %>
    </div>

  </div>
</div>
