
<div class="ui container">

<br>
<br>
<div class="ui two column top aligned very relaxed stackable grid">
  <div class="column">
      <h2>Get to bzzing</h2>
      <%= erb :_login %>
  </div>

  <div class="ui vertical divider">
    Or
  </div>

  <div class="column">
    <h2>Join the bzz bzz </h2>
    <%= erb :_signup %>
  </div>
</div>

</div>
